.canvasContainer {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.simulationContainer{
    background-color: #060010; /* dark space background */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}

.toolbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 0px;
    background-color: #282c34;
}

.toolbox button {
    /* margin: 0 10px; */
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
}

.toolbox button:hover {
    background-color: #3c4043;
    color: black;
}

.toolbox span{
    margin:0 10px;
}