.canvasContainer {
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  width: 50vw;
}

.simulationContainer{
    background-color: #060010; /* dark space background */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    padding: 0;
    margin: 0;
}

.tooltipContainer{
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas {
  width: 100%;
  height: 100%;
}

.toolbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    gap: 0px;
    background-color: #282c34;
}

.toolbox button {
    /* margin: 0 10px; */
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
    border: 1px solid #3c4043;
}

.toolbox button:hover {
    background-color: #3c4043;
    color: black;
}

.toolbox span{
    margin:0 10px;
}
.transform-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.canvas {
  width: 1000px;
  height: 1000px;
}

.zoom-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.zoom-controls button {
  margin: 4px;
  padding: 6px 10px;
  font-size: 16px;
  background: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



@media screen and (max-width: 800px) {
    .simulationContainer {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .canvasContainer {
        width: 100vw;
        height: 53vh;
    }

    .tooltipContainer {
        width: 90vw;
        height: 22vh;
    }

    .toolbox {
        flex-direction: row;
        align-items: center;
        max-width: 90%;
    }
}