.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #060010; 
  color: white;
}

.loader-text {
  font-size: 2rem;
}

.loader {
  width: 15vw;
  height: 15vw;
  animation: spin 3s linear infinite;
}

.loader-subtext{
  font-size: 1.2rem;
  margin-top: 10px;
  color: #ccc; /* Lighter color for subtext */
}

.loader-Author{
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 10px;
  color: #ccc; 
  justify-content: end;
}

.loader-Author a{
  color: #ccc; /* Lighter color for author link */
  text-decoration: none;
}
/* Loading Animation of the image */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .loader {
    width: 50vw;
    height: 50vw;
  } 
}