.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #060010; 
  color: white;
}

.loader-text {
  font-size: 2rem;
}

.loader {
  width: 15vw;
  height: 15vw;
  animation: spin 3s linear infinite;
}

/* Loading Animation of the image */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .loader {
    width: 50vw;
    height: 50vw;
  } 
}